.title{
  text-align: center;
  padding-bottom: 20px;
  color: #333;
}

.btn{
  text-decoration: none;
  padding: 10px 0;
  display: block;
  width: 150px;
  background-color: blue;
  text-align: center;
  color: white;
  border-radius: 4px;
  margin: 50px auto;
}